# Required: API key for the Agent. For example you can use Google or OpenAI API KEY
LLM_API_KEY=sk-proj-...

# Optional: defaults shown below. 
LLM_MODEL=gpt-5
MODEL_BASE_URL=https://openai.com/chat/completions 
